<?xml version="1.0"?>
<?mso-application progid="Excel.Sheet"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:o="urn:schemas-microsoft-com:office:office"
          xmlns:x="urn:schemas-microsoft-com:office:excel"
          xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:html="http://www.w3.org/TR/REC-html40">
<OfficeDocumentSettings xmlns="urn:schemas-microsoft-com:office:office">
  <AllowPNG/>
</OfficeDocumentSettings>
<ExcelWorkbook xmlns="urn:schemas-microsoft-com:office:excel">
  <WindowHeight>7995</WindowHeight>
  <WindowWidth>20115</WindowWidth>
  <WindowTopX>240</WindowTopX>
  <WindowTopY>75</WindowTopY>
  <ProtectStructure>False</ProtectStructure>
  <ProtectWindows>False</ProtectWindows>
</ExcelWorkbook>
<Styles>
  <Style ss:ID="data">
      <NumberFormat ss:Format="Short Date"/>
  </Style>
  <Style ss:ID="BorderRBL">
      <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
      <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
      <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
      <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
      </Borders>
  </Style>
  <Style ss:ID="BorderRL">
      <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
      <Borders>
        <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
      <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
      </Borders>
  </Style>
  <Style ss:ID="BorderB">
      <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
      <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
      </Borders>
  </Style>
  <Style ss:ID="BorderR">
      <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
      <Borders>
        <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
      </Borders>
  </Style>
  <Style ss:ID="BorderRB">
      <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
      <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
      <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
      </Borders>
  </Style>
</Styles>
<Worksheet ss:Name="Sheet1">
<Table>
<Column ss:Width="54.75"/>
<Column ss:Width="219.75"/>
<Column ss:StyleID="data" ss:Width="96.75"/>
<Row>
  <Cell ss:StyleID="BorderRL" ss:MergeAcross="4"><Data ss:Type="String">Paciente</Data></Cell>
  <Cell ss:StyleID="BorderRL" ss:MergeAcross="2"><Data ss:Type="String">Genotipagem</Data></Cell>
  <Cell ss:StyleID="BorderRL" ss:MergeAcross="2"><Data ss:Type="String">Esquema 1</Data></Cell>
  <Cell ss:StyleID="BorderRL" ss:MergeAcross="2"><Data ss:Type="String">Esquema 2</Data></Cell>
  <Cell ss:StyleID="BorderRL" ss:MergeAcross="2"><Data ss:Type="String">Esquema 3</Data></Cell>
  <Cell ss:StyleID="BorderRL" ss:MergeAcross="2"><Data ss:Type="String">Esquema 4</Data></Cell>
  <Cell ss:StyleID="BorderRL" ss:MergeAcross="2"><Data ss:Type="String">Esquema 5</Data></Cell>
  <Cell ss:StyleID="BorderRL" ss:MergeAcross="2"><Data ss:Type="String">Esquema 6</Data></Cell>
  <Cell ss:StyleID="BorderRL" ss:MergeAcross="2"><Data ss:Type="String">Esquema 7</Data></Cell>
  <Cell ss:StyleID="BorderRL" ss:MergeAcross="2"><Data ss:Type="String">Esquema 8</Data></Cell>
  <Cell ss:StyleID="BorderRL" ss:MergeAcross="2"><Data ss:Type="String">Esquema 9</Data></Cell>
  <Cell ss:StyleID="BorderRL" ss:MergeAcross="2"><Data ss:Type="String">Esquema 10</Data></Cell>
  <Cell ss:StyleID="BorderRL" ss:MergeAcross="1"><Data ss:Type="String">Mutações Protease</Data></Cell>
  <Cell ss:StyleID="BorderRL" ss:MergeAcross="2"><Data ss:Type="String">Mutações Transcriptase Reversa</Data></Cell>
  <Cell ss:StyleID="BorderRL" ss:MergeAcross="8"><Data ss:Type="String">Carga Viral</Data></Cell>
  <Cell ss:StyleID="BorderRL" ss:MergeAcross="7"><Data ss:Type="String">CD 4</Data></Cell>
</Row>
<Row>
  <Cell ss:StyleID="BorderB"><Data ss:Type="String">ID amostra</Data></Cell>
  <Cell ss:StyleID="BorderB"><Data ss:Type="String">Nome</Data></Cell>
  <Cell ss:StyleID="BorderB"><Data ss:Type="String">data de nascimento</Data></Cell>
  <Cell ss:StyleID="BorderB"><Data ss:Type="String">prontuário</Data></Cell>
  <Cell ss:StyleID="BorderRB"><Data ss:Type="String">Gênero</Data></Cell>
  <Cell ss:StyleID="BorderB"><Data ss:Type="String">Local de procedência</Data></Cell>
  <Cell ss:StyleID="BorderB"><Data ss:Type="String">Data Coleta</Data></Cell>
  <Cell ss:StyleID="BorderRB"><Data ss:Type="String">Data recepção</Data></Cell>
  <Cell ss:StyleID="BorderB"><Data ss:Type="String">data inicial</Data></Cell>
  <Cell ss:StyleID="BorderB"><Data ss:Type="String">data final</Data></Cell>
  <Cell ss:StyleID="BorderRB"><Data ss:Type="String">medicamentos</Data></Cell>
  <Cell ss:StyleID="BorderB"><Data ss:Type="String">data inicial</Data></Cell>
  <Cell ss:StyleID="BorderB"><Data ss:Type="String">data final</Data></Cell>
  <Cell ss:StyleID="BorderRB"><Data ss:Type="String">medicamentos</Data></Cell>
  <Cell ss:StyleID="BorderB"><Data ss:Type="String">data inicial</Data></Cell>
  <Cell ss:StyleID="BorderB"><Data ss:Type="String">data final</Data></Cell>
  <Cell ss:StyleID="BorderRB"><Data ss:Type="String">medicamentos</Data></Cell>
  <Cell ss:StyleID="BorderB"><Data ss:Type="String">data inicial</Data></Cell>
  <Cell ss:StyleID="BorderB"><Data ss:Type="String">data final</Data></Cell>
  <Cell ss:StyleID="BorderRB"><Data ss:Type="String">medicamentos</Data></Cell>
  <Cell ss:StyleID="BorderB"><Data ss:Type="String">data inicial</Data></Cell>
  <Cell ss:StyleID="BorderB"><Data ss:Type="String">data final</Data></Cell>
  <Cell ss:StyleID="BorderRB"><Data ss:Type="String">medicamentos</Data></Cell>
  <Cell ss:StyleID="BorderB"><Data ss:Type="String">data inicial</Data></Cell>
  <Cell ss:StyleID="BorderB"><Data ss:Type="String">data final</Data></Cell>
  <Cell ss:StyleID="BorderRB"><Data ss:Type="String">medicamentos</Data></Cell>
  <Cell ss:StyleID="BorderB"><Data ss:Type="String">data inicial</Data></Cell>
  <Cell ss:StyleID="BorderB"><Data ss:Type="String">data final</Data></Cell>
  <Cell ss:StyleID="BorderRB"><Data ss:Type="String">medicamentos</Data></Cell>
  <Cell ss:StyleID="BorderB"><Data ss:Type="String">data inicial</Data></Cell>
  <Cell ss:StyleID="BorderB"><Data ss:Type="String">data final</Data></Cell>
  <Cell ss:StyleID="BorderRB"><Data ss:Type="String">medicamentos</Data></Cell>
  <Cell ss:StyleID="BorderB"><Data ss:Type="String">data inicial</Data></Cell>
  <Cell ss:StyleID="BorderB"><Data ss:Type="String">data final</Data></Cell>
  <Cell ss:StyleID="BorderRB"><Data ss:Type="String">medicamentos</Data></Cell>
  <Cell ss:StyleID="BorderB"><Data ss:Type="String">data inicial</Data></Cell>
  <Cell ss:StyleID="BorderB"><Data ss:Type="String">data final</Data></Cell>
  <Cell ss:StyleID="BorderRB"><Data ss:Type="String">medicamentos</Data></Cell>
  <Cell ss:StyleID="BorderB"><Data ss:Type="String">Mutações principais</Data></Cell>
  <Cell ss:StyleID="BorderRB"><Data ss:Type="String">Polimorfismos</Data></Cell>
  <Cell ss:StyleID="BorderB"><Data ss:Type="String">ITRN</Data></Cell>
  <Cell ss:StyleID="BorderB"><Data ss:Type="String">ITRNN</Data></Cell>
  <Cell ss:StyleID="BorderRB"><Data ss:Type="String">Polimorfismos na TR</Data></Cell>
  <Cell ss:StyleID="BorderB"><Data ss:Type="String">Imediatamente anterior esquema atual</Data></Cell>
  <Cell ss:StyleID="BorderB"><Data ss:Type="String">log</Data></Cell>
  <Cell ss:StyleID="BorderB"><Data ss:Type="String">data</Data></Cell>
  <Cell ss:StyleID="BorderB"><Data ss:Type="String">mais baixo esquema atual</Data></Cell>
  <Cell ss:StyleID="BorderB"><Data ss:Type="String">log</Data></Cell>
  <Cell ss:StyleID="BorderB"><Data ss:Type="String">data</Data></Cell>
  <Cell ss:StyleID="BorderB"><Data ss:Type="String">ultima realizada</Data></Cell>
  <Cell ss:StyleID="BorderB"><Data ss:Type="String">log</Data></Cell>
  <Cell ss:StyleID="BorderRB"><Data ss:Type="String">data</Data></Cell>
  <Cell ss:StyleID="BorderB"><Data ss:Type="String">últimos</Data></Cell>
  <Cell ss:StyleID="BorderB"><Data ss:Type="String">data</Data></Cell>
  <Cell ss:StyleID="BorderB"><Data ss:Type="String">penúltimo</Data></Cell>
  <Cell ss:StyleID="BorderB"><Data ss:Type="String">data</Data></Cell>
  <Cell ss:StyleID="BorderB"><Data ss:Type="String">mais baixo</Data></Cell>
  <Cell ss:StyleID="BorderB"><Data ss:Type="String">data</Data></Cell>
  <Cell ss:StyleID="BorderB"><Data ss:Type="String">maior</Data></Cell>
  <Cell ss:StyleID="BorderRB"><Data ss:Type="String">data</Data></Cell>

</Row>

<% @pacients.each do |pacient| %>
    <% count = 0 %>
    <Row>
      <Cell><Data ss:Type="Number"><%= pacient.id_amostra %></Data></Cell>
      <Cell><Data ss:Type="String"><%= pacient.nome %></Data></Cell>
      <Cell><Data ss:Type="String"><%= pacient.dataNasc %></Data></Cell>
      <Cell><Data ss:Type="String"><%= pacient.prontuario %></Data></Cell>
      <Cell><Data ss:Type="String"><%= pacient.genero %></Data></Cell>

      <%# @variables[0] = Genotipagem.find_all_by_paciente_id(pacient.id) %>
      <% geno = Genotipagem.find_all_by_paciente_id(pacient.id).last %>

      <Cell><Data ss:Type="String"><%=geno.localProcedencia%></Data></Cell>
      <Cell><Data ss:Type="String"><%=geno.dataColeta%></Data></Cell>
      <Cell><Data ss:Type="String"><%=geno.dataRecep%></Data></Cell>

      <% @variables[1] = Esquema.find_all_by_paciente_id(pacient.id).last(10) %>
      <% @variables[1].each do |esq| %>
          <Cell><Data ss:Type="String"><%= esq.DataIni %></Data></Cell>
          <% if esq.atual.eql?('N') %>
              <Cell><Data ss:Type="String"><%= esq.DataFim %></Data></Cell>
          <% else %>
              <Cell><Data ss:Type="String">Atual</Data></Cell>
          <% end %>
          <% med = Medicamento.all(:joins => 'inner join esquemas_medicamentos on medicamentos.id = medicamento_id inner join esquemas on esquemas.id = esquema_id', :conditions => 'esquema_id = '+esq.id.to_s) %>
          <% string = String.new("") %>
          <% med.each do |m| %>
              <% string << m.abreviacao + " + " %>
          <% end %>
          <Cell><Data ss:Type="String"><%= string.rstrip.chop %></Data></Cell>
          <% count += 1 %>
      <% end %>
      <%#MUTACOES %>
      <% while count < 10 %>
          <Cell><Data ss:Type="String"></Data></Cell>
          <Cell><Data ss:Type="String"></Data></Cell>
          <Cell><Data ss:Type="String"></Data></Cell>
          <% count += 1 %>
      <% end %>
      <% mp=[] , poli=[] , itrn = [] , itrnn = [], politr = [] %>
      <% mp = [] %>
      <% mutacoes = Mutacao.all(:joins => 'inner join genotipagems_mutacaos on mutacaos.id = mutacao_id inner join genotipagems on genotipagems.id = genotipagem_id', :conditions => 'genotipagem_id = '+geno.id.to_s) %>
      <% mutacoes.each do |m| %>
          <% if m.regiao == "Mutacoes principais" %>
              <% mp.push(m) %>
          <% end %>
          <% if m.regiao == "Polimorfismos"  %>
              <% poli<<m %>
          <% end %>
          <% if m.regiao == "ITRN" %>
              <% itrn<<m %>
          <% end %>
          <% if m.regiao == "ITRNN"  %>
              <% itrnn<<m %>
          <% end %>
          <% if m.regiao == "Polimorfismo na TR" %>
              <% politr<<m %>
          <% end %>
      <% end %>
      <% string = String.new("") %>
      <% mp.each { |x| string << x.sigla + " "} %>
      <Cell><Data ss:Type="String"><%= string %></Data></Cell>
      <% string = String.new("") %>
      <% poli.each { |x| string << x.sigla + " "} %>
      <Cell><Data ss:Type="String"><%= string %></Data></Cell>
      <% string = String.new("") %>
      <% itrn.each { |x| string << x.sigla + " "} %>
      <Cell><Data ss:Type="String"><%= string %></Data></Cell>
      <% string = String.new("") %>
      <% itrnn.each { |x| string << x.sigla + " "} %>
      <Cell><Data ss:Type="String"><%= string %></Data></Cell>
      <% string = String.new("") %>
      <% politr.each { |x| string << x.sigla + " "} %>
      <Cell><Data ss:Type="String"><%= string %></Data></Cell>

      <% exame = Exame.all(:conditions => "tipo = 'CV' AND paciente_id = "+pacient.id.to_s)    %>
      <% parts = exame.partition {|o| o.data.nil? } %>
      <% if parts.last.nil? || parts.last.empty? %>
          <Cell><Data ss:Type="String"></Data></Cell>
          <Cell><Data ss:Type="String"></Data></Cell>
          <Cell><Data ss:Type="String"></Data></Cell>
          <Cell><Data ss:Type="String"></Data></Cell>
          <Cell><Data ss:Type="String"></Data></Cell>
          <Cell><Data ss:Type="String"></Data></Cell>
          <Cell><Data ss:Type="String"></Data></Cell>
          <Cell><Data ss:Type="String"></Data></Cell>
          <Cell><Data ss:Type="String"></Data></Cell>
      <% else %>
          <% notnul = parts.last.sort_by(&:data) %>
          <% ultimo = notnul.last %>
          <% penultimo = notnul[notnul.count-2] %>

          <Cell><Data ss:Type="String"><%= penultimo.valor %></Data></Cell>
          <Cell><Data ss:Type="String"><%= Math.log(penultimo.valor,10) %></Data></Cell>
          <Cell><Data ss:Type="String"><%= penultimo.data %></Data></Cell>

          <% menor = exame.sort_by(&:valor).first %>
          <Cell><Data ss:Type="String"><%= menor.valor %></Data></Cell>
          <Cell><Data ss:Type="String"><%= Math.log(menor.valor,10)%></Data></Cell>
          <Cell><Data ss:Type="String"><%= menor.data %></Data></Cell>

          <%# parts = exame.partition {|o| o.data.nil? } %>
          <%# ultimo = parts.last.sort_by(&:data).last %>
          <Cell><Data ss:Type="String"><%= ultimo.valor %></Data></Cell>
          <Cell><Data ss:Type="String"><%= Math.log(ultimo.valor,10) %></Data></Cell>
          <Cell><Data ss:Type="String"><%= ultimo.data %></Data></Cell>
      <% end %>

      <% exame = Exame.all(:conditions => "tipo = 'CD4' AND paciente_id = "+pacient.id.to_s)    %>
      <% parts = exame.partition {|o| o.data.nil? } %>
      <% if parts.last.nil? || parts.last.empty? %>
          <Cell><Data ss:Type="String"></Data></Cell>
          <Cell><Data ss:Type="String"></Data></Cell>
          <Cell><Data ss:Type="String"></Data></Cell>
          <Cell><Data ss:Type="String"></Data></Cell>
          <Cell><Data ss:Type="String"></Data></Cell>
          <Cell><Data ss:Type="String"></Data></Cell>
          <Cell><Data ss:Type="String"></Data></Cell>
          <Cell><Data ss:Type="String"></Data></Cell>
      <% else %>
          <% notnul = parts.last.sort_by(&:data) %>
          <% ultimo = notnul.last %>
          <Cell><Data ss:Type="String"><%= ultimo.valor%></Data></Cell>
          <Cell><Data ss:Type="String"><%= ultimo.data %></Data></Cell>
          <% penultimo = notnul[notnul.count-2] %>
          <Cell><Data ss:Type="String"><%= penultimo.valor%></Data></Cell>
          <Cell><Data ss:Type="String"><%= penultimo.data %></Data></Cell>

          <% menor = exame.sort_by(&:valor) %>
          <Cell><Data ss:Type="String"><%= menor.first.valor %></Data></Cell>
          <Cell><Data ss:Type="String"><%= menor.first.data %></Data></Cell>

          <Cell><Data ss:Type="String"><%= menor.last.valor %></Data></Cell>
          <Cell><Data ss:Type="String"><%= menor.last.data %></Data></Cell>
      <% end %>
    </Row>
<% end %>
</Table>
</Worksheet>
</Workbook>