<% provide(:title, "Entrar") %>
<h1>Faça o Login</h1>

<div class="row">
  <div class="span6 offset5">
    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      </br>
      <%= f.submit "Entrar", class: "btn btn-large btn-primary" %>
    <% end %>

    <p>Novo por aqui? <%= link_to "Se cadastre agora!", signup_path %></p>
  </div>
</div>